.buscador-titulo {
    text-align: left;
    margin-top: 12%;
    font-weight: 200;
}

.paginado-container {
    display: flex;
    flex-direction: column;
}

.container-titulo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.boton-filtro {
    padding: 8px 16px;
    border: 2px solid var(--color-lilaBorde);
    background-color: var(--color-lila);
    border-radius: 50px;
    margin: 0 8px;
    cursor: pointer;
    transition: 0.2s;
    width: 98px;
}

.boton-filtro:hover {
    background-color: var(--color-lilaTexto);
    color: var(--color-offWhite);
}

.boton-activo {
    background-color: #f6955d;
    color: var(--color-negro);
    border-color: #791f2b;
}

.boton-activo:hover {
    background-color: #dd6b48;
    color: var(--color-negro);
}

.filtrado-div {
    display: flex;
    flex-direction: column;
    
}

.contenido-filtrado-div {
    display: flex;
    flex-direction: row-reverse;
    
}

.resaltado {
    text-transform: capitalize;
    font-weight: 600;
}
.cargar-contenido-container {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 16px;
    justify-content: center;
}

.cargar-contenido-link {
    cursor: pointer;
    text-decoration: underline;
}

.cargar-contenido-link:hover {
    color: var(--color-celeste);
}