.submit-btn {
   margin-left: auto;
   padding: 12px 20px;
   border: none;
   background-color: var(--color-lila);
   color: var(--color-offWhite);
   font-weight: bold;
   border-radius: 100px;
   cursor: pointer;
   transition: background-color 0.3s;
   margin-top: 10px;
}

.submit-btn:hover {
   background-color: var(--color-lilaHover);
   outline: none;
}

.submit-btn:disabled {
   background-color: var(--color-lilaClaro);
}