.error-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff; /* Opcional: color de fondo */
}

.error-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    display: block;
}