.form-container {
   background-image: url("/src/assets/paper.png");
   background-size: contain;
   box-sizing: border-box;
   background-position: center;
   background-repeat: no-repeat;
   padding: 65px 85px 75px 160px;
   width: 965px;
   height: 800px;
   margin-right: 60px;
}

.background-pf {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   position: relative;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.form-content {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: space-between;

}

.form-row {
   display: flex;
   justify-content: space-between;
}

.form-group {
   display: flex;
   flex-direction: column;
   width: 300px;
   color: var(--color-negro);
   align-items: flex-start;
   margin: 1px;
}

.form-label {
   color: var(--color-lilaTexto);
   font-weight: 600;
   font-size: 20px;
   padding-left: 3px;
}

.form-input {
   border: 2px solid var(--color-beigeBordes);
   background-color: transparent;
   box-sizing: border-box;
   border-radius: 100px;
   padding: 10px;
   font-size: 16px;
   width: 100%;
   transition: border 0.3s;
   color: var(--color-negro);
}

.select:focus {
   border-radius: 22px 22px 0px 0px;
}

.select-option {
   font-size: 16px;
   color: var(--color-negro);
}

.form-input:focus-visible,
.form-input-long:focus-visible,
.form-input-text:focus-visible {
   border: 2px solid var(--color-lilaHover);
}
.form-input::placeholder,
.form-input-long::placeholder,
.form-input-text::placeholder {
   color: var(--color-beigePlaceHolder);
   font-style: italic;
}

.form-input:disabled {
   cursor: not-allowed;
}

:-webkit-autofill,
:-webkit-autofill:hover, 
:-webkit-autofill:focus {
   -webkit-text-fill-color: var(--color-negro);
   color: var(--color-negro);
}

.select {
   width: 100%;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: transparent;
   position: relative;
   z-index: 2;
}

.select-wrapper {
   position: relative;
   width: 100%;
}

.select-arrow {
   position: absolute;
   top: 50%;
   right: 18px;
   pointer-events: none;
   transform: translateY(-50%);
   font-size: 15px;
   color: var(--color-beigeBordes);
   z-index: 3;
}

input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

.form-group-long {
   display: flex;
   flex-direction: column;
   width: 100%;
   color: var(--color-negro);
   align-items: flex-start;
}

.form-input-long,
.form-input-text {
   border: 2px solid var(--color-beigeBordes);
   background-color: transparent;
   border-radius: 100px;
   padding: 10px 15px;
   font-size: 16px;
   box-sizing: border-box;
   width: 100%;
   transition: border 0.3s;
   color: var(--color-negro);
}

.form-input-text {
   border-radius: 30px;
}

.character-count {
   font-size: 14px;
   color: var(--color-negro);
   margin: 5px;
   margin-bottom: 0;
   align-self: flex-end;
}