.card-list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.btn-eliminar {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--color-negro);
  transition: color 0.3s;
}
.btn-eliminar:hover {
  color: var(--color-rojoHover);
  transform: scale(1.1);
  transition: transform 0.3s;
}

.lista-descripcion-container{
  background-image: url("../assets/tarjetita.png");
  background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   width: 790px;           
   height: auto;           
   aspect-ratio: 1163/393;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
}

.lista-descripcion{
  padding: 1rem;
  margin-top: 2rem;
  font-size: 20px;
}