.card-list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.btn-eliminar {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: rgb(26, 26, 26);
  transition: color 0.3s;
}
.btn-eliminar:hover {
  color: rgb(107, 32, 32);
  transform: scale(1.1);
  transition: transform 0.3s;
}
