.redirect-text {
   margin-top: 0px;
   font-size: 1.1rem;
   color: var(--color-negro);
}

.redirect-link {
   color: var(--color-celeste);
   text-decoration: underline;
   cursor: pointer;
}

.form-title {
   color: var(--color-lilaTexto);
   margin: 0;
   font-size: 3.5rem;
}

.login-register-btn {
   font-size: 1.4rem;
   padding: 12px 20px;
   border: none;
   background-color: var(--color-lila);
   color: var(--color-offWhite);
   font-weight: bold;
   border-radius: 100px;
   cursor: pointer;
   transition: background-color 0.3s;
   transition: background-color 0.3s;
}

.login-register-btn:hover {
   background-color: var(--color-lilaHover);
   outline: none;
}

.login-register {
   padding: 65px 85px 35px 150px;
   width: 965px;
   height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.register{
   padding: 35px 85px 35px 150px;
}

.password-container {
   display: flex;
   width: 100%;
}

.icon-eye {
   color: var(--color-beigeBordes);
   margin-left: -43px;
   margin-top: 13px;
   cursor: pointer;
}

.all-inputs {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.password-requirements-container {
   background-color: var(--color-offWhite);
   margin-top: 10px;
   width: 300px;
   display: flex;
   justify-content: left;
   text-align: left;
   position: absolute;
   padding: 14px;
   border-radius: 30px;
   box-sizing: border-box;
   bottom: 116px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   z-index: 10;
}
.password-requirements {
   color: var(--color-negro);
   font-size: 0.9rem;
   margin: 0cm;
}

.pass-req {
   margin: 0;
   padding: 2px;
}

.valid {
   color: var(--color-lilaTexto);
}

.invalid {
   color: var(--color-beigeOscuro);
}

.err {
   color: var(--color-rojo);
   font-size: 1.1rem;
   margin-top: 0px;
}

/* Estilos de foto de perfil */
.foto-perfil-selector-container {
   position: relative;
   max-width: 550px;
   width: 170%;
   transform: translateX(-17%);
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}

.foto-perfil-scroll {
   display: flex;
   overflow-x: auto;
   gap: 32px;
   width: 80%;
   padding: 8px 12px;
   max-width: 470px;
   display: flex;
   align-items: center;
}

.foto-perfil-scroll::-webkit-scrollbar {
   height: 0px;
}

.foto-perfil-option {
   position: relative;
   width: 90px;
   height: 90px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: transform 0.3s;

}

.foto-perfil-img {
   width: 80px;
   height: 80px;
   object-fit: contain;
   border-radius: 50%;
   position: relative;
   z-index: 2;
   transition: scale 0.3s, box-shadow 0.3s;
   box-shadow: 0 2px 12px rgba(0,0,0,0.10);
}

.foto-perfil-shadow {
   position: absolute;
   width: 65px;
   height: 65px;
   border-radius: 50%;
   background: rgba(187, 0, 0, 0);
   z-index: 1;
   box-shadow: 0 4px 16px 0 var(--color-negro);
   opacity: 1;
   pointer-events: none;
}

.foto-perfil-label {
   margin-top: 8px;
   font-size: 1rem;
   color: var(--color-grisOscuro);
   font-weight: 500;
   text-align: center;
}

.foto-perfil-option.selected .foto-perfil-img {
   scale: 1.18;
}

.foto-perfil-option:not(.selected) .foto-perfil-img {
   filter: brightness(0.6);
   scale: 0.93;
   transition: scale 0.3s, filter 0.3s;
}

.scroll-button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: transparent;
   padding: 0 10px;
   border: none;
   width: 2px;
   font-size: 2.7rem;
   color: var(--color-lilaHover);
   cursor: pointer;
   z-index: 10;
   display: flex;
   align-items: center;
   justify-content: center;
}

.scroll-button.left {
   left: 0;
}

.scroll-button.right {
   right: 0;
}
