.redirect-text {
   margin-top: 0px;
   font-size: 1.1rem;
   color: #231f20;
}

.redirect-link {
   color: #5684b6;
   text-decoration: underline;
   cursor: pointer;
}

.form-title {
   color: #7872a8;
   margin: 0;
   font-size: 3.5rem;
}

.login-register-btn {
   font-size: 1.4rem;
   padding: 12px 20px;
   border: none;
   background-color: #7b769e;
   color: white;
   font-weight: bold;
   border-radius: 100px;
   cursor: pointer;
   transition: background-color 0.3s;
   transition: background-color 0.3s;
}

.login-register-btn:hover {
   background-color: rgb(95, 88, 145);
   outline: none;
}

.login-register {
   padding: 65px 85px 35px 150px;
   width: 965px;
   height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.password-container {
   display: flex;
   width: 100%;
}

.icon-eye {
   color: #64514f;
   margin-left: -43px;
   margin-top: 13px;
}

.all-inputs {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.password-requirements-container {
   background-color: #f0efe6;
   margin-top: 10px;
   width: 300px;
   display: flex;
   justify-content: left;
   text-align: left;
   position: absolute;
   padding: 10px;
   border-radius: 30px;
   box-sizing: border-box;
   bottom: 110px;
}
.password-requirements {
   color: rgb(3, 0, 0);
   font-size: 0.9rem;
   margin: 0cm;
}

.pass-req {
   margin: 0;
   padding: 2px;
}

.valid {
   color: #5b5585;
}

.invalid {
   color: #64514f;
}

.err {
   color: rgb(173, 39, 39);
   font-size: 1.1rem;
   margin-top: 0px;
}
