.p-image-preview-indicator:hover {
   opacity: 50%;
   border-radius: 0%;
}

.p-image-mask {
   background-color: rgba(0, 0, 0, 0.466);
}

.container-contenido-info {
   display: flex;
   flex-direction: column;
}

.container-pagina-contenido {
   width: 98vw;
   margin-top: 70px;
   padding-left: 250px;
   box-sizing: border-box;
   overflow-x: hidden;
}

.container-contenido {
   margin-top: 40px;
   margin-bottom: 40px;
   width: 1300px;
   display: flex;
   gap: 10px;
   align-self: flex-start;
   justify-content: space-around;
}

.container-img {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px;
   position: fixed;
   z-index: 100;
   left: 150px;

}

.container-info {
   display: flex;
   flex-direction: column;
   align-items: right;
   width: 700px;
   padding: 40px;
   padding-bottom: 0px;
   background-image: url(../assets/background-contenido/contenido-bg.png);
   position: relative;
   border-top-left-radius: 6px;
   border-top-right-radius: 8px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.281);
}

.container-contenido-bottom {
   height: 120px;
   width: 100%;
   background-image: url(../assets/background-contenido/contenido-bg-bottom.png);
   background-size: no-repeat;
   z-index: 99;
}

.container-paper-clip {
   width: 100px;
   height: 250px;
   background-image: url(../assets/background-contenido/contenido-bg-clip.png);
   background-size: cover;
   margin-bottom: 20px;
   position: absolute;
   transform: rotate(6deg);
   top: -10px;
   right: 50px;
   z-index: 99;
}

.container-seccion-icon {
   display: flex;
   align-items: center;
   gap: 10px;
}

.container-info-header {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.container-seccion-icon {
   display: flex;
   align-items: center;
   gap: 100px;
}

.container-puntaje {
   display: flex;
   font-size: 1.1rem;
   align-items: center;
   margin-top: 15px;
}

.container-publicacion-largo {
   display: flex;
   gap: 20px;
   margin-left: 3px;
}

.header-titulo {
   margin: 0;
   font-size: 2.5rem;
   max-width: 620px;
}

.header-autores,
.titulo-descripcion {
   margin: 0;
   font-weight: 500;
}

.header-generos {
   margin-left: 0;
   margin-bottom: 10px;
   font-size: 1.2rem;
   font-style: italic;
}

.header-estrellas {
   margin-right: 10px;
}

.header-puntaje {
   margin: 0;
   margin-right: 5px;
}

.header-reseñas {
   margin: 0;
}

.tipo-contenido {
   width: 99px;
   height: 95px;
   background-image: url("../assets/tipo-contenido.png");
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 4rem;
}

.container-descripcion {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   text-align: left;
}
