.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-lila);
    color: var(--color-negro);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 100;
}

.navbar-logo {
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.navbar-logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.navbar-user{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.navbar-accion{
    cursor: pointer;
    transition: color 0.2s;
    font-weight: 500;
}

.navbar-accion:hover{
    color: var(--color-negroOnLilaHover);
    transition: color 0.2s;
}

.navbar-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.navbar-search {
    display: flex;
    flex-direction: row;
}

.navbar-searchbar{
    background-color: var(--color-offWhite);
    width: 500px;
    height: 35px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
}

.input-busqueda{
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: var(--color-negro);
}

.navbar-search-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-negro);
    font-size: 20px;
    padding-right: 10px;
    align-items: center;
    display: flex;
}

.button-filtrar {
    font-size: small;
    border-radius: 0% 50px 50px 0%;

    background-color: var(--color-offWhite);
    color: var(--color-negro);
    font-weight: 800;
}

.button-filtrar:hover {
    border-color: var(--color-offWhite);
}

.p-menu {
    margin-top: 3px;
    padding-left: 10px;
    background-color: var(--color-offWhite);
    width: 320px;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 0 2px 8px rgba(19, 19, 19, 0.411);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

.p-menu-list {
    padding: 2%;
}

.p-menuitem	{
    padding-left: 5%;
    color: var(--color-negro);
    padding: 2.5%;
    margin-top: 2%;

}
.p-menuitem:hover {
    background-color: #a29cc7;
    border-radius: 40px;
}

.p-menuitem:active {
    background-color: #a29cc7;
    border-radius: 40px;
}

.p-menuitem-text {
    color: var(--color-negro);
}

.menuitem-activo {
    background-color: var(--color-lilaClaro);
    border-radius: 40px;
}