.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #641085;
    color: #fff;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;  /* 👈 altura fija */
    z-index: 1000; /* para que siempre quede arriba */
}

.input-Busqueda {
    width: 500px;
}
