.card-contenido-container {
   background-image: url("../../assets/list-card.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   width: 790px;           
   height: auto;           
   aspect-ratio: 1163/393;
   transition: transform 0.2s ease-in-out;
   display: flex;
   align-items: center;
   margin: 1px !important;
   position: relative;
}

.contenido-card {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
   height:  174px;
   width: 770px;
   box-sizing: border-box;
   padding: 10px;
}

.card-contenido-container:hover {
   transform: scale(102%);
}

.contenido-imagen {
   width: 110px;
   height: 160px;
  margin-left: 5px;
}
.contenido-imagen:hover {
   cursor: pointer;
}

.contenido-imagen img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 6px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.116);
}

.contenido-info {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex: 1;
}

.contenido-titulo {
   font-size: 1.25rem;
   font-weight: bold;
   margin: 0;
   text-align: left;
   margin-top: 19px;
}

.contenido-titulo:hover {
   cursor: pointer;
   text-decoration: underline solid 2px var(--color-negro);
}

.contenido-autor {
   font-size: 1rem;
   color: var(--color-grisOscuro);
   margin: 0;
}

.contenido-rating {
   display: flex;
   align-items: center;
   gap: 0.25rem;
   margin: 5px 0px;
}

.contenido-rating-text {
   font-size: 1.1rem;
   color: var(--color-negro);
   margin-left: 0.5rem;
   align-self: center;
   text-align: center;
}

.contenido-publicacion {
   font-size: 1rem;
   color: var(--color-grisOscuro);
   margin: 0;
}

.icon-imagen-list {
   position: absolute;      
   bottom: 38px;            
   right: 13px;            
   width: 70px;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}

.icon-list {
   padding: 11px 0px 0px 0px;
   width: 45px;
   height: 45px;
   color: var(--color-negro);
}

.card-agregar-listas{
   margin-top: 5px !important;
   padding: 5px 18px !important;
}